.container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    justify-content: stretch;
    transition: top 1s ease-out 100ms;
    top: 0;
    text-decoration: none;
    background-color:gainsboro;
}

.container:hover {
    position: relative;
    top: -10px;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 15px -3px,
     rgba(0, 0, 0, 0.10) 0px 4px 6px -2px;
}

.votes {
    border-radius: 50%;
    width:35px;
    height:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
    border-color: rgb(96, 47, 25);
    color:rgb(96, 47, 25);
    font-weight: 500;
    border-width: 1px;
    border-style: solid;
    position: absolute;
    top:20px;
    right: 10px;
}

.title {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color:rgb(54, 53, 53);
    font-weight: 500;
    font-size: 15px;
}

.poster {
    display: block;
    width: auto;
    height: auto;
    min-width:150px;
    background-color: gainsboro;
    background-position: center;
}