.info {
    color: rgb(60, 59, 59);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.warning {
    color:orange;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    text-align: center;
}

.error {
    color: brown;
    font-weight: 500;
    padding: 10px;
    width: 100%;
    text-align: center;
}